:root {
    --title: #FFFCF9;
    --subtitle: #B3B3B3;
    --bg-button: #E9E6E3;
    --background: linear-gradient(43deg, #102D71 0%, #000000 52%, #C12A23 100%);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.logo {
    width: 87.24px;
    height: 62.93px;
    margin-bottom: 10px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: var(--title);
}

.movie-content {
    margin-top: 30px;
    width: 628px;
    display: flex;
    gap: 34px;
}

.movie-poster {
    width: 171px;
    height: 243.77px;
    padding-top: 8px;
}

.movie-infos {
    color: white;
    font-size: 12px;
}

.movie-name {
    font-size: 20px;
    font-weight: 700;
    color: var(--title);
    margin-bottom: 18.45px;
}

.movie-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--title);
}

button {
    margin: 30px 0 26px 0;

    width: 181px;
    height: 47px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--bg-button);

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
}

button > img {
    width: 35.56px;
    height: 25.29px;
    margin-right: 17px;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--subtitle);
}