/* VARIÃVEIS */
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}

img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 348px 1fr;
    gap: 60px;
    padding: 40px;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.column2 .card {
    padding: 30px;
}

.card {
    background-color: var(--bg-cards);
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* PERFIL */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.profile img {
    border: 2px solid #00FF00;
}

.profile p {
    font-size: 13px;
    font-weight: 300;
    margin-top: 8px;
}

/* REDES SOCIAIS */
.socials {
    padding: 30px 43px;
}

.socials ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.socials ul li, .socials ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 300;
}

/* TECNOLOGIAS */
.techs div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 10px;
    margin-top: 20px;
    gap: 15px;
}

.techs div p {
    background-color: var(--bg-techs);
    padding: 6px 12px;
    border-radius: 30px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.experiences ul, .education ul {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0px 40px;
    margin-top: 20px;
}

.experiences h5, .education h5 {
    font-size: 16px;
    font-weight: 700;
}

.experiences span, .education span {
    font-size: 14px;
    font-weight: 300;
}

.experiences p, .education p {
    font-size: 14px;
}

/* PROJETOS */
.projects-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-title a {
    font-size: 14px;
    font-weight: 300;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.projects .card div {
    display: flex;
    align-items: center;
    gap: 17px;
}

.projects .card > p {
    font-size: 14px;
    line-height: 20px;
    margin: 22px 0 31px;
}

.projects .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects .icons div, .projects .card .tech {
    gap: 9px;
}

.projects .icons div p {
    font-size: 12px;
}

.projects .tech div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

.typescript-ball {
    background-color: #2B7489;
}

.ejs-ball {
    background-color: #A91E50;
}

/* POSTS */
.post {
    display: flex;
    align-items: center;
    gap: 20px;
}

.post span {
    font-size: 12px;
    margin-top: 10px;
    display: block;
}

.post .tags {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    font-size: 12px;
}

.post section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--bg-cards);
}