<!DOCTYPE html>

<%- include('../partials/head'); %>

<html lang="pt-br">

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %> <!-- Além do include, está sendo passado um objeto -->

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi! Sou Lucas Damasceno, estudante de programação da Rocketseat!</p>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>

</body>
</html>